{% extends 'jobber/base.html' %}
{% load static %}
{% block primary-nav %}
<ul id="primary-nav">
    <li><a href="{% url "jobber:opportunities_index" %}">Home</a></li>
    <li><a href="{% url "users:profile" user.user.username %}">Profile</a></li>
    <li>
        <div class="dropdown">
            <a class="dropper selected">Job Search</a>
            <div class="dropdown-content">
                <a href="{% url "jobber:opportunities_list" %}" class="selected">Opportunities</a>
                <a href="{% url "jobber:contacts_list" %}">Contacts</a>
                <a href="{% url "jobber:events_list" %}">Calendar</a>
            </div>
        </div> <!-- dropdown -->
    </li>
    <li><a href="#">Advice</a></li>
    <li><a href="#">About</a></li>
</ul>
{% endblock %}
{% block my-location %} <p id="my-location">Home</p> {% endblock %}
{% block content %}
    <div class="view-list">
        <div id="recent-activity-box" class="quickview-box">
            {% include 'actions/action/feed.html' %}
            <p class="button"><a href="{% url "jobber:opportunities_add-item" %}">Open New Opportunity</a></p>
            <p class="button"><a href="{% url "jobber:opportunities_list" %}">See All Opportunities</a></p>
        </div> <!-- #recent-activity-box quickview-box -->

        <div id="upcoming-events-box" class="quickview-box">
            <h2>Upcoming Events</h2>
            <ul id="upcoming-events" class="detail-list">
                {% for ev in events|slice:":3" %}
                    <li><p>{{ ev.type }}: <a href="{% url "jobber:events_view_item" ev.id %}">{{ ev.title }}</a> {{ ev.date }}</p></li>
                {% endfor %}
            </ul>
            <p class="button"><a href="{% url "jobber:events_list" %}">See Full Calendar</a></p>
        </div> <!-- #upcoming-events-box quickview-box -->

        <div id="suggestions-box" class="quickview-box">
            <h2>Suggestions</h2>
            <ul id="suggestions">
                <li><p><a href="#">Add to your resume template</a></p></li>
                <li><p><a href="#">Get community feedback on an application</a></p></li>
                <li><p><a href="#">Read our prep guide for phone interviews</a></p></li>
                <li><p><a href="#">Practice live interviewing with a fellow job seeker</a></p></li>
            </ul>
        </div> <!-- #suggestions-box quickview-box -->
        <div id="ad-box" class="view-box">
            <a id="ad1" class="ad" href="#"><img src="{% static "img/ad-space.png" %}" alt="ad-space"></a>
            <!-- img/ad-space.png https://thepienews.com/milner_04/ -->
        </div> <!--ad-box -->
    </div> <!-- view-list -->
{% endblock %}
{% block ad-space %} {% endblock %}