{% extends 'jobber/add-item_BASE.html' %}
{% block primary-nav %}
    {% include 'jobber/coverletters/nav-bar.html' %}
{% endblock %}
{% block my-location %}
    <p id="my-location"><a href="{% url "jobber:opportunities_index" %}">Home</a> > <a
            href="{% url "jobber:coverletters_list" %}">Cover Letters</a> > {% if coverletter.id is not None %}
        <a href="{% url "jobber:coverletters_view_item" coverletter.id %}">Cover Letter</a> > {% endif %}
        {% if coverletter.id %}
            Edit {% else %}Create New {% endif %} Cover Letter
    </p>
{% endblock %}

{% block header-2 %}{% if coverletter.id %}Edit {% else %}Create New{% endif %} Cover Letter {% endblock %}

{% block header-buttons %}
    {% if request.session.role == "admin" and coverletter.id is not None %}
        <form name="delete" id="delete-form" method="POST"
              action="{% url "jobber:coverletters_delete_item" %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ coverletter.id }}">
            <input type="hidden" name="name" value="{{ coverletter.name }}">
        </form>
    {% endif %}
    {% if coverletter.id is not null %}
        <p class="button-small"><a
                href="{% url "jobber:coverletters_view_item" coverletter.id %}">Close</a>
        </p>
    {% else %}
        <p class="button-small"><a href="{% url "jobber:coverletters_list" %}">Cancel</a></p>
    {% endif %}
    {% if request.session.role == "admin" and coverletter.id is not None %}
        <button id="delete-opp" type="submit" class="button-small delete" form="delete-form" formmethod="post">
            Delete
        </button>
    {% endif %}
    <button id="save-opp" type="submit" class="button-small" form="form-id-details" formmethod="post">Save
    </button>
{% endblock %}

{% block save-edit %}
    {% if not coverletter.id %}
        <form name="form-key-details" id="form-id-details"
              action="{% url "jobber:coverletters_add-item" %}" method="post">
    {% else %}
        <form name="form-key-details" id="form-id-details"
              action="{% url "jobber:coverletters_edit_item" coverletter.id %}" method="post">
    {% endif %}
    {% csrf_token %}
{% endblock %}

{% block details-1 %}
    <li class="opportunity-summary">
        <div class="opportunity-summary-header">
            <h3>Cover Letter Details</h3>
        </div>
        <div class="form-boxes">
            <div class="form-box" id="form-fill">
                <p><label for="input-name">Name:</label>
                    <input type="text" name="input-name" id="input-name" class="required" required
                           value="{{ coverletter.name }}"></p>
                <p><label for="input-title">Cover Letter Text:</label>
                    <textarea name="input-text" id="input-text" class="required"
                              required>{{ coverletter.text }}</textarea></p>
            </div>
        </div> <!-- form-boxes -->
    </li> <!-- form-fields -->
{% endblock %}

{% block form-end %}
    </form>;
{% endblock %}