{% extends 'jobber/view-item_BASE.html' %}
{% block primary-nav %}
    {% include 'jobber/contacts/nav-bar.html' %}
{% endblock %}
{% block my-location %}
    <p id="my-location"><a href="{% url "jobber:opportunities_index" %}">Home</a> > <a
            href="{% url "jobber:contacts_list" %}">Contacts</a> > View Contact Details
    </p> {% endblock %}

{% block header-buttons %}
    {% if request.session.role == "admin" or contact.profile.id == user.id %}
        <form name="delete" id="delete-form" method="POST"
              action="{% url "jobber:contacts_delete_item" %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ contact.id }}">
            <input type="hidden" name="name" value="{{ contact.name }}">
            <input type="hidden" name="title" value="{{ contact.title }} ">
        </form>
    {% endif %}
    <p class="button-small"><a
            href="{% url "jobber:contacts_edit_item" contact.id %}">Edit</a></p>
    {% if request.session.role == "admin" or contact.profile.id == user.id %}
        <button id="delete-opp" type="submit" class="button-small delete" form="delete-form"
                formmethod="post">
            Delete
        </button>
    {% endif %}
{% endblock %}

{% block details-1 %}
    <li class="opportunity-summary">
        <h3>Key Details</h3>
        <p>Name: {{ contact.name }}</p>
        <p>Title: {{ contact.title }}</p>
        <p>Company: {{ contact.company }}</p>
        <p>Phone: {{ contact.phone_number }}</p>
        <p>Email: {{ contact.email }}</p>
        <p>Contact Type: {{ contact.get_contact_type_display }}</p>
    </li>
{% endblock %}
