{% extends 'jobber/add-item_BASE.html' %}
{% block primary-nav %}
    {% include 'jobber/resumes/nav-bar.html' %}
{% endblock %}
{% block my-location %}
    <p id="my-location"><a href="{% url "jobber:opportunities_index" %}">Home</a> > <a
            href="{% url "jobber:resumes_list" %}">Resumes</a> > {% if resume.id is not None %}
        <a href="{% url "jobber:resumes_view_item" resume.id %}">Resume</a> > {% endif %}
        {% if resume.id %}
            Edit {% else %}Create New {% endif %} Resume
    </p>
{% endblock %}

{% block header-2 %}{% if resume.id %}Edit {% else %}Create New{% endif %} Resume {% endblock %}

{% block header-buttons %}
    {% if request.session.role == "admin" and resume.id is not None %}
        <form name="delete" id="delete-form" method="POST"
              action="{% url "jobber:resumes_delete_item" %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ resume.id }}">
            <input type="hidden" name="name" value="{{ resume.name }}">
        </form>
    {% endif %}
    {% if resume.id is not null %}
        <p class="button-small"><a
                href="{% url "jobber:resumes_view_item" resume.id %}">Close</a>
        </p>
    {% else %}
        <p class="button-small"><a href="{% url "jobber:resumes_list" %}">Cancel</a></p>
    {% endif %}
    {% if request.session.role == "admin" and resume.id is not None %}
        <button id="delete-opp" type="submit" class="button-small delete" form="delete-form" formmethod="post">
            Delete
        </button>
    {% endif %}
    <button id="save-opp" type="submit" class="button-small" form="form-id-details" formmethod="post">Save
    </button>
{% endblock %}

{% block save-edit %}
    {% if not resume.id %}
        <form name="form-key-details" id="form-id-details"
              action="{% url "jobber:resumes_add-item" %}" method="post">
    {% else %}
        <form name="form-key-details" id="form-id-details"
              action="{% url "jobber:resumes_edit_item" resume.id %}" method="post">
    {% endif %}
    {% csrf_token %}
{% endblock %}

{% block details-1 %}
    <li class="opportunity-summary">
        <div class="opportunity-summary-header">
            <h3>Resume Details</h3>
        </div>
        <div class="form-boxes">
            <div class="form-box" id="form-fill">
                <p><label for="input-name">Name:</label>
                    <input type="text" name="input-name" id="input-name" class="required" required
                           value="{{ resume.name }}"></p>
                <p><label for="input-title">Resume Text:</label>
                    <textarea name="input-text" id="input-text" class="required" required>{{ resume.text }}</textarea>
                </p>
            </div>
        </div> <!-- form-boxes -->
    </li> <!-- form-fields -->
{% endblock %}

{% block form-end %}
    </form>;
{% endblock %}