<ul id="primary-nav">
    <li><a href="{% url "jobber:opportunities_index" %}">Home</a></li>
    <li><a href="{% url "users:profile" user.user.username %}" class="selected">Profile</a></li>
    <li>
        <div class="dropdown">
            <a class="dropper">Job Search</a>
            <div class="dropdown-content">
                <a href="{% url "jobber:opportunities_list" %}">Opportunities</a>
                <a href="{% url "jobber:contacts_list" %}">Contacts</a>
                <a href="{% url "jobber:coverletters_list" %}">Cover Letters</a>
                <a href="{% url "jobber:resumes_list" %}">Resumes</a>
                <a href="{% url "jobber:events_list" %}">Calendar</a>
            </div>
        </div> <!-- dropdown -->
    </li>
    <li><a href="#">Advice</a></li>
    <li><a href="#">About</a></li>
</ul>