{% extends 'jobber/base.html' %}
{% load static %}

{% block primary-nav %}
    <ul id="primary-nav">
        <li><a href="{% url "jobber:opportunities_index" %}">Home</a></li>
        <li><a href="{% url "users:profile" user.user.username %}" class="selected">Profile</a></li>
        <li>
            <div class="dropdown">
                <a class="dropper">Job Search</a>
                <div class="dropdown-content">
                    <a href="{% url "jobber:opportunities_list" %}">Opportunities</a>
                    <a href="#">Contacts</a>
                    <a href="#">Calendar</a>
                </div>
            </div> <!-- dropdown -->
        </li>
        <li><a href="#">Advice</a></li>
        <li><a href="#">About</a></li>
    </ul>
{% endblock %}
{% block my-location %}
    <p id="my-location"> Profile
    </p> {% endblock %}

{% block content %}
    <h3 id="welcome">{{ user.user.username }} Profile</h3>
    <div id="profile-box" class="page-container">
        <p>Username: {{ user.user.username }}</p>
        <p>Role: {{ user.role }}</p>
        <p>Email: {{ user.user.email }}</p>
        <p>Reputation: {{ user.reputation }}</p>
    </div>
    <div id="recent-activity-box" class="page-container">
        {% include 'actions/action/feed.html' %}
        <p class="button"><a href="{% url "jobber:opportunities_add-item" %}">Open New Opportunity</a></p>
        <p class="button"><a href="{% url "jobber:opportunities_list" %}">See All Opportunities</a></p>
    </div> <!-- #recent-activity-box quickview-box -->
{% endblock %}
{% block ad-space %} {% endblock %}