{% extends 'jobber/base.html' %}
{% block primary-nav %}
    <li><a href="{% url "jobber:opportunities_index" %}">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="{% url "jobber:opportunities_list" %}" class="selected">Opportunities</a></li>
    <li><a href="#">Advice</a></li>
    <li><a href="#">About</a></li>
{% endblock %}
{% block my-location %}
    <p id="my-location"><a href="{% url "jobber:opportunities_index" %}">Home</a> > <a
            href="{% url "jobber:opportunities_list" %}">Opportunities</a> > {% if opportunity.id is not None %}
        <a href="{% url "jobber:opportunities_view_item" opportunity.id %}">Opportunity</a> > {% endif %}
        {% if opportunity.id %}
            Edit {% else %}Create New {% endif %} Opportunity
    </p> {% endblock %}
{% block content %}
    <div id="your-opportunity-box" class="page-container">
        <h2>{% if opportunity.id %}Edit {% else %}Create New{% endif %} Opportunity</h2>
        <div class="header-buttons">
            {% if request.session.role == "admin" and opportunity.id is not None %}
                <form name="delete" id="delete-form" method="POST"
                      action="{% url "jobber:opportunities_delete_item" %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ opportunity.id }}">
                    <input type="hidden" name="title" value="{{ opportunity.title }}">
                    <input type="hidden" name="company" value="{{ opportunity.company }} ">
                </form>
            {% endif %}
            {% if opportunity.id is not null %}
                <p class="button-small"><a
                        href="{% url "jobber:opportunities_view_item" opportunity.id %}">Close</a>
                </p>
            {% else %}
                <p class="button-small"><a href="{% url "jobber:opportunities_list" %}">Cancel</a></p>
            {% endif %}
            {% if request.session.role == "admin" and opportunity.id is not None %}
                <button id="delete-opp" type="submit" class="button-small delete" form="delete-form" formmethod="post">
                    Delete
                </button>
            {% endif %}
            <button id="save-opp" type="submit" class="button-small" form="form-id-details" formmethod="post">Save
            </button>
        </div>
        <div id="your-opportunity-header">
            <div id="stage-select">
                <label for="stage">Current Stage:</label>
                <select name="stage" id="stage" form="form-id-details">
                    {% for s in stages %}
                        <option value={{ s.value_name }} {% if s.value_name == opportunity.stage.value_name %} selected="selected" {% endif %}>{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div> <!-- stage-select -->
        </div> <!-- your-opportunities-header -->
        <div class="topic-box">
            {% if not opportunity.id %}
                <form name="form-key-details" id="form-id-details"
                      action="{% url "jobber:opportunities_add-item" %}" method="post">
            {% else %}
                <form name="form-key-details" id="form-id-details"
                      action="{% url "jobber:opportunities_edit_item" opportunity.id %}" method="post">
            {% endif %}
            {% csrf_token %}
            <ul class="detail-list">
                <li class="opportunity-summary">
                    <div class="opportunity-summary-header">
                        <h3>Key Details</h3>
                    </div>
                    <div class="form-boxes">
                        <div class="form-box" id="form-fill">
                            <p>Link to Application Page Here</p>
                            <input type="url" name="application-link" id="form-key-details-application"
                                   value="{{ opportunity.application_link }}">
                            <button id="fill-in-details" type="button" name="auto-fill" value="empty">Fill in
                                Details
                            </button>
                        </div>
                        <div class='form-box' id="key-details-enter">
                            <p> Or Enter Details</p>
                            <p><label for="input-title">Title:</label>
                                <input class="required" type="text" name="title" id="input-title"
                                       value="{{ opportunity.title }}"></p>
                            <p><label for="input-company">Company:</label>
                                <input class="required" type="text" name="company" id="input-company"
                                       value="{{ opportunity.company }}"></p>
                            <p><label for="input-location">Location:</label>
                                <input type="text" name="location" id="input-location"
                                       value="{{ opportunity.location }}"></p>
                            <label for="recruiter-contact">Recruiter Contact:</label>
                            <div class="contact-list">
                                <div class="contact-list-input">
                                    <select name="REC" id="recruiter-contact">
                                        <option value="none" {% if opportunity.recruiter_contact is None %}
                                                selected="selected" {% endif %}>None
                                        </option>
                                        {% for contact in recruiter_contacts %}
                                            <option value="{{ contact.id }}"
                                                    {% if contact == opportunity.recruiter_contact %}
                                                    selected="selected" {% endif %}>{{ contact.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div> <!-- contact-list-input -->
                                <p class="or">or</p>
                                <button class="button-small add-contact" type="button" formmethod="post">Add
                                </button>

                            </div> <!-- contact-list -->
                        </div> <!-- form-box -->
                    </div> <!-- form-boxes -->
                </li> <!-- form-fields -->
                <li class="opportunity-summary">
                    <div class="opportunity-summary-header">
                        <h3>Application Details</h3>
                        <button id="right-button" type="button">Add to Calendar</button>
                    </div>
                    <div class="form-boxes">
                        <div class="form-box">
                            <p><label for="myResume">Resume:</label>
                                <input type="file" id="myResume" name="filename-resume"> or <a href="#"
                                                                                               id="build-resume">
                                    {% if opportunity.application.resume is not None %}Edit {% else %}
                                        Build {% endif %}
                                    it from your Profile</a></p>
                            <p><label for="myCover">Cover Letter:</label>
                                <input type="file" id="myCover" name="filename-cover"> or <a href="#"
                                                                                             id="build-cover">
                                    {% if opportunity.application.cover_letter is not None %}Edit {% else %}
                                        Build {% endif %}
                                    it from your Templates</a></p>
                            <div class='contact-list' id="application-details-enter">
                                <label for="referral-contact">Referral Contact:</label>
                                <div class="contact-list-input">
                                    <select name="REF" id="referral-contact" multiple="multiple">
                                        <option value="none" {% if opportunity.referral_contacts is None %}
                                                selected="selected" {% endif %}>None
                                        </option>
                                        {% for contact in referral_contacts %}
                                            <option value="{{ contact.id }}"
                                                    {% if contact in opportunity.referral_contacts.all %}
                                                    selected="selected" {% endif %}>{{ contact.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div> <!-- contact-list-input -->
                                <p class="or">or</p>
                                <button class="button-small add-contact" type="button" formmethod="post">Add
                                </button>
                            </div> <!-- inner-form-box -->
                        </div> <!-- form-box -->
                    </div> <!-- form-boxes -->
                </li> <!-- stage-details -->
                <li class="opportunity-summary">
                    <div class="opportunity-summary-header">
                        <h3>Interview Details</h3>
                    </div>
                    <div class="form-boxes">
                        <div class="form-box" id="form-fill">
                            <p><label for="input-title">Location:</label>
                                <input type="text" name="interview-location" id="input-title"
                                       value="{{ opportunity.interview_location }}"></p>
                            <p><label for="input-date">Date:</label>
                                <input type="date" name="interview-date" id="input-title"
                                       value={% if opportunity.interview_date is not None %} "{{ opportunity.interview_date | date:"Y-m-d" }}" {% endif %}>
                            </p>
                        </div>
                    </div> <!-- form-boxes -->
                </li> <!-- form-fields -->
            </ul> <!-- detail-list -->
            </form>
        </div> <!-- topic-box -->
    </div> <!-- #your-opportunity-box -->
    {% if not opportunity.id %}
        <form name="form-contact-details" id="form-id-details"
              action="{% url "jobber:opportunities_add_contact" %}" method="post">
    {% else %}
        <form name="form-contact-details" id="form-id-details"
              action="{% url "jobber:opportunities_add_contact" %}" method="post">
    {% endif %}

{% csrf_token %}
<div class="form-box popup-form">
    <h3>New Contact Information:</h3>
    <input type="hidden" name="formname" id="formname">
    <p><label for="contact-add-name">Name: </label>
        <input type="text" name="contact-add-name" class="required" id="contact-add-name"></p>
    <p><label for="contact-add-title">Title: </label>
        <input type="text" name="contact-add-title" class="required" id="contact-add-title"></p>
    <p><label for="contact-add-company">Company: </label>
        <input type="text" name="contact-add-company" class="required" id="contact-add-company"></p>
    <p><label for="contact-add-phone">Phone Number: </label>
        <input type="tel" name="contact-add-phone" maxlength=10 minlength=10 placeholder="1234567890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="required" id="contact-add-phone"></p>
    <p><label for="contact-add-email">Email: </label>
        <input type="email" name="contact-add-email" class="required" id="contact-add-email"></p>
    <button type="submit" id="contact-submit" class="button-small contact-list-submit-button" data-ajax-url="{% url "jobber:opportunities_add_contact_ajax" %}">Save
    </button>
    <button type="button" id="contact-cancel" class="button-small">Cancel</button>
</div><!-- contact-list-add -->
</form>;
{% endblock %}