{% extends 'jobber/base.html' %}
{% block primary-nav %}
    <li><a href="{% url "opportunities:opportunities_index" %}">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="{% url "opportunities:opportunities_list" %}" class="selected">Opportunities</a></li>
    <li><a href="#">Advice</a></li>
    <li><a href="#">About</a></li>
{% endblock %}
{% block my-location %} <p id="my-location"><a href="{% url "opportunities:opportunities_index" %}">Home</a> > Opportunities</p> {% endblock %}
{% block content %}
    <div id="your-opportunities-box" class="page-container">
        <h2>Your Opportunities</h2>
        <div id="your-opportunities-header">
            <div class="list-sorter">
                <label for="sort-opportunities">Sort By:</label>
                <select name="sort-opportunities" id="sort-opportunities">
                    <option value="creation-date" class="selected">Creation Date</option>
                    <option value="modified-date">Modified Date</option>
                    <option value="nearest-event">Nearest Event</option>
                    <option value="stage">Stage</option>
                </select>
            </div>
            <form id="search-opportunities">
                <label for="search-opportunities-box">Search: </label>
                <input id="search-opportunities-box" type="text" name="search-list"
                       placeholder="Company name, title...">
            </form>
            <div class="header-buttons">
                <p class="button"><a href={% url "opportunities:opportunities_add-item" %}>Open New Opportunity</a></p>
            </div>
        </div> <!-- your-opportunities-header -->
        <div class="topic-box">
            <ul class="detail-list">
                {% for opp in opportunities %}
                    <li class="opportunity-summary">
                        <p>Opportunity: <a
                                href="{% url "opportunities:opportunities_view_item" opp.id %}">{{ opp.company }}, {{ opp.title }}</a>
                        </p>
                        <p>Stage: {{ opp.stage.name }}</p>
                        <p>Last Modified: {{ opp.modified_date | date:"F j, Y" }}</p>
                        <p><strong>Next Step</strong>: <a
                                href="{% url "opportunities:opportunities_view_item" opp.id %}">
                            {{ opp.next_step }} </a></p>
                    </li>
                {% endfor %}
            </ul> <!-- detail-list -->
        </div> <!-- topic-box -->
    </div> <!-- #your-opportunities-box -->
{% endblock %}