{% extends 'jobber/view-item_BASE.html' %}
{% block primary-nav %}
    {% include 'jobber/opportunities/nav-bar.html' %}
{% endblock %}
{% block my-location %}
    <p id="my-location"><a href="{% url "jobber:opportunities_index" %}">Home</a> > <a
            href="{% url "jobber:opportunities_list" %}">Opportunities</a> > View Opportunity Details
    </p> {% endblock %}

{% block header-items %}
    <div id="stage-select">
        <label for="stage">Current Stage:</label>
        <select name="stage" id="stage">
            {% for s in stages %}
                <option value={{ s.value_name }} {% if s.value_name == opportunity.stage.value_name %} selected="selected" {% endif %}>{{ s.name }}</option>
            {% endfor %}
        </select>
    </div> <!-- stage-select -->
{% endblock %}

{% block header-buttons %}
    {% if request.session.role == "admin" or opportunity.profile.id == user.id %}
        <form name="delete" id="delete-form" method="POST"
              action="{% url "jobber:opportunities_delete_item" %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ opportunity.id }}">
            <input type="hidden" name="title" value="{{ opportunity.title }}">
            <input type="hidden" name="company" value="{{ opportunity.company }} ">
        </form>
    {% endif %}
    <p class="button-small"><a
            href="{% url "jobber:opportunities_edit_item" opportunity.id %}">Edit</a></p>
    {% if request.session.role == "admin" or opportunity.profile.id == user.id %}
        <button id="delete-opp" type="submit" class="button-small delete" form="delete-form"
                formmethod="post">
            Delete
        </button>
    {% endif %}
    <p class="button"><a href="{% url "jobber:events_list" %}">See Calendar</a></p>
{% endblock %}

{% block details-1 %}
    <li class="opportunity-summary">
        <h3>Key Details</h3>
        <p>Title: {{ opportunity.title }}</p>
        <p>Company: {{ opportunity.company }}</p>
        <p>Location: {{ opportunity.location }}</p>
        <p>Recruiter Contact:</p>
        <ul class="contact-list">
            {% if opportunity.recruiter_contact is not None %}
                <li data-ajax-url="{% url "jobber:opportunities_view_contact_ajax" %}"
                    data-contact="{{ opportunity.recruiter_contact.id }}">{{ opportunity.recruiter_contact.name }}
                    <a href="#">(see details)</a></li>
            {% endif %}
        </ul>
        <p>Created Date: {{ opportunity.create_date | date:"F j, Y" }}</p>
    </li>
    <li class="opportunity-summary">
        <h3>Application Details</h3>
        <div class="side-buttons">
            <p class="button"><a href="#">Download Application</a></p>
            <p class="button"><a href="#">Get Feedback</a></p>
        </div>
        <div class="opportunity-summary-details-wide">
            <p>Applicant: {{ opportunity.user.name }}</p>
            <p>Application Page: <a href="{{ opportunity.application_link }}"
                                    class="explicit-link">{{ opportunity.application_link }}</a>
            </p>
            <p>Resume: {% if opportunity.application.resume is not None %}Complete
                <a href="#">(see)</a> {% endif %}</p>
            <p>Cover Letter: {% if opportunity.application.cover_letter is not None %}Complete
                <a href="#">(see)</a> {% endif %} </p>
            <p>Referrals:</p>
            <ul class="contact-list">
                {% for contact in opportunity.referral_contacts.all %}
                    <li data-ajax-url="{% url "jobber:opportunities_view_contact_ajax" %}"
                        data-contact="{{ contact.id }}">{{ contact.name }} <a href="#">(see details)</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
{% endblock %}

{% block content-other %}
    <div class="popup-info">
        <h3>Contact Information:</h3>
        <p>Name: <span></span></p>
        <p>Title: <span></span></p>
        <p>Company: <span></span></p>
        <p>Phone: <span></span></p>
        <p>Email: <span></span></p>
    </div><!-- contact-list-add -->
{% endblock %}